@page "/customer"
@inject HttpClient Http
@using Microsoft.Extensions.Configuration
@using Models
@inject IConfiguration Configuration

<PageTitle>Customer</PageTitle>

<h1>Customer</h1>


@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cust in customers.data)
            {
                <tr>
                    <td>@cust.attributes.firstname</td>
                    <td>@cust.attributes.lastname</td>
                    <td>@cust.attributes.phone</td>
                    <td>@cust.attributes.address</td>
                    <td>@cust.attributes.createdAt</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Customers? customers;
    public string strapi_api_url;

    protected override async Task OnInitializedAsync()
    {
        strapi_api_url = Configuration["STRAPI_API_URL"];
        Console.WriteLine("strapi urls " + strapi_api_url);
        string url = strapi_api_url + "/api/customers";
        Console.WriteLine(url);
        customers = await Http.GetFromJsonAsync<Customers>(url);
        Console.WriteLine(customers.data);
    }

}
